/* font-family: 'Chathura', sans-serif;
font-family: 'Press Start 2P', cursive; 
72DC4D
*/


/* /////////////////// GENERAL */

*, 
*::after, 
*::before{
    margin: 0; 
    padding: 0; 
    box-sizing: inherit; 
}


html{
    font-size: 62.5%;
}


body{
    box-sizing: border-box;
    font-family: "Chathura", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #72DC4D; 
    background-color: black; 
    padding-left: 3rem; 
    padding-right: 3rem;
}




/* /////////////////// LAYOUT */

#layout{
    display: grid;
    padding: 1rem; 
    row-gap: 0.2rem; 
    
    grid-template-areas:
    "header"
    "Información"
    "Videojuego"
    "Gráficas"

}


/* /////////////////// HEADER */

.header{
    grid-area: header;
    height: 75vh; 
    font-family: 'Press Start 2P', cursive;
    color:  #72DC4D; 
    position: relative; 
    background-size: cover;
    background-position: top;
    margin-bottom: 2rem;
    border-bottom: 1px solid #72DC4D;

}

.header__text-box{
    position: absolute; 
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center; 
}

.heading-primary{
    text-transform: uppercase;
    backface-visibility: hidden; 
    animation: moveInBottom 2s ease-out; 
   
}


.heading-primary--main, 
.heading-primary--sub{
    display: block; 
    font-size: 8rem; 
    text-shadow: .4rem .4rem .4rem black;
    animation: glow 3s ease-in-out infinite alternate;
}


.bg-video{
    position: absolute;
    top: 0; 
    left: 0;  
    height: 100%;
    width: 100%;
    z-index: -1; 
    opacity: .9;
    overflow: hidden;
}

.bg_video__content{
    height: 100%; 
    width: 100%; 
    object-fit: cover;
}

/* /////////////////// INFORMACIÓN */

#Información{
    display: grid;
    justify-content: center;
    align-items: center; 
    padding: 1rem; 
    column-gap: 4rem;
    grid-template-areas: 
    "ITC STEAM CJ"; 

    border-bottom: 1px solid #72DC4D;

}


/* /////////////////// CAJAS DE INFORMACIÓN */

.Info-caja{
    background-color: rgba(177, 177, 177, .3);
    font-size: 1.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0rem 0.5rem 1rem #72DC4D;
    padding: 2rem;
    display: grid;
    transition: all .3s;  
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem; 
    border: 3px solid black, 

}

.Info-caja-1{
    animation: moveInLeft 2.5s ease-out; 
}
.Info-caja-2{
    animation: moveInBottom 2.5s ease-out; 
}
.Info-caja-3{
    animation: moveInRight 2.5s ease-out; 
}

.Info-caja-1:hover, 
.Info-caja-2:hover, 
.Info-caja-3:hover{
    outline: 0.5rem solid #2948ff; 
    transform: scale(1.05) translateY(-.5rem);
    box-shadow: 0 2rem 10rem #2948ff;
    color: #299fff; 
}


.heading-secondary{
    text-shadow: 0rem .2rem .4rem black; 
}

/* /////////////////// ITC */

#ITC{
    grid-area: ITC; 
}

/* /////////////////// STEAM */

#STEAM{
    grid-area: STEAM;
}

/* /////////////////// CODEJUMPERS */

#Code-Jumpers{
    grid-area: CJ; 
}

/* /////////////////// VIDEOJUEGO */

.Videojuego{
    grid-area: Videojuego; 
}

/* /////////////////// VISUALIZACIÓN DE DATOS */


.Gráficas{
    grid-area: Gráficas; 
}



/* /////////////////// ANIMACIONES */

@keyframes moveInLeft {
    0%{ /* Before starting the animation - The beginnig */
        opacity: 0; 
        transform: translateX(-10rem);
    }

    80%{ /* Anything in between */
        transform: translateX(1rem); 
    }

    100%{ /* After the animation - The end */
        opacity: 1;
        transform: translate(0); 
    }
}


@keyframes moveInRight {
    0%{ /* Before starting the animation - The beginnig */
        opacity: 0; 
        transform: translateX(10rem);
    }

    80%{ /* Anything in between */
        transform: translateX(-1rem); 
    }

    100%{ /* After the animation - The end */
        opacity: 1;
        transform: translate(0); 
    }
}


@keyframes moveInBottom {
    0%{ /* Before starting the animation - The beginnig */
        opacity: 0; 
        transform: translateY(3rem);
    }

    100%{ /* After the animation - The end */
        opacity: 1;
        transform: translate(0); 
    }
}

@keyframes glow {
    0% {
      text-shadow: 0 0 10px black, 0 0 20px black, 0 0 30px #72DC4D, 0 0 40px #72DC4D, 0 0 50px #0f9b0f, 0 0 60px #0f9b0f, 0 0 70px #2C7744;
    }
    100% {
      text-shadow: 0 0 20px black, 0 0 30px #52c234, 0 0 40px #52c234, 0 0 50px #52c234, 0 0 60px #52c234, 0 0 70px #52c234, 0 0 80px #52c234;
    }

}




/* //////////////////// VIDEOJUEGO */

#unity-container { 
    position: absolute 
}

#unity-container.unity-desktop { 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%) 
}

#unity-container.unity-mobile { 
    width: 100%; 
    height: 100% 
}

.unity-mobile #unity-canvas { 
    width: 100%; 
    height: 100% 
}

#unity-loading-bar { 
    position: absolute; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
    display: none 
}

#unity-logo { 
    width: 154px; 
    height: 130px; 
    background: url('../img/unity-logo-dark.png') no-repeat center 
}

#unity-progress-bar-empty { 
    width: 141px; 
    height: 18px; 
    margin-top: 10px; 
    background: url('../img/progress-bar-empty-dark.png') no-repeat center 
}

#unity-progress-bar-full { 
    width: 0%; 
    height: 18px; 
    margin-top: 10px; 
    background: url('../img/progress-bar-full-dark.png') no-repeat center 
}

#unity-footer { 
    position: relative 
}

.unity-mobile #unity-footer { 
    display: none 
}

#unity-webgl-logo { 
    float:left; 
    width: 204px; 
    height: 38px; 
    background: url('../img/webgl-logo.png') no-repeat center 
}

#unity-build-title { 
    float: right; 
    margin-right: 10px; 
    line-height: 38px; 
    font-family: arial; 
    font-size: 18px 
}

#unity-fullscreen-button { 
    float: right; 
    width: 38px; 
    height: 38px; 
    background: url('../img/fullscreen-button.png') no-repeat center 
}

#unity-mobile-warning { 
    position: absolute; 
    left: 50%; 
    top: 5%; 
    transform: translate(-50%); 
    background: white; 
    padding: 10px; 
    display: none 
}
