# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.CodeJumper.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\gianl\Desktop\TEC\4-Semestre\ConstruccionSoftware\VideoJuegos\CodeJumper\CodeJumper\.idea\.idea.CodeJumper\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
